POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=

PG_WEB_PORT=
GEMINI_API_KEY=

LOG_LEVEL=INFO

LOGFIRE_TOKEN=
LOGFIRE_SERVICE_NAME=rag-poc
LOGFIRE_ENVIRONMENT=local
LOGFIRE_CONSOLE=false

JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
